.categoria-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-top: 10px;
}
.categoria-destaque {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.categoria-destaque img{
    width: 20vw;
    transition: 0.25s;
}

@media (max-width: 768px) {
    
}

@media (max-width: 509px) {
    .categoria-destaque :nth-child(3) {
        display: none;
    }
}
