.categoria-container{
    display: flex;
    justify-content: center;
}
.categoria-destaque {
    width: fit-content;
    display: flex;
}
.categoria-destaque img{
    width: 230px;
    transition: 0.25s;
}