
.card-destaque {
    width: 230px;
    height: 345px;
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
    align-items: center;
    text-align: center; 
    overflow: hidden;
}
.card-destaque img{
    width: 100%;
}
.card-destaque a{
    position: absolute;
    text-decoration: none;
    width: 100%;
    bottom: 30px;
    color: black;
    font-weight: 500;
    padding: 10px;
    background-color: #e3e6f3b0;
}