.menu{
    max-width: 13rem;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
    position: relative;
    margin-right: 3.125vw; /* Equivalente a 50px considerando a largura de 1600px como base */
}

.menu .button{
    background-color: #b7beda;
    border: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin-top: 1.042vw;
    margin-bottom: 1.042vw; /* Equivalente a 10px considerando a largura de 1600px como base */
    border-radius: 1.042vw; /* Equivalente a 10px considerando a largura de 1600px como base */
    font-size: 1rem;
    font-weight: 600;
    
}

.menu .button div{
    margin-left: 1.25vw; /* Equivalente a 20px considerando a largura de 1600px como base */
}

.menu ul {
    min-width: 6rem;
    max-width: 9.8rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #b7beda;
}

.menu li{
    display: none;
    cursor: pointer;
    overflow: hidden;
}

.menu ul, .menu li{
    list-style: none;
    padding: 0.55vw; /* Equivalente a 10px considerando a largura de 1600px como base */
}

.menu a{
    color: #088178;
    transition: 0.5s;
}

.menu li:hover{
    color: #088178;
    transition: 0.7s;
}