.nav-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dce0f3;
}

.nav-menu .opcoes{
    display: flex;
    list-style: none;
}

.nav-menu .opcoes li a{
  color: black;
  font-size: 1rem;
  font-weight: 600;

}

.nav-menu .opcoes li a:first-of-type {
  margin-right: 30px;
}


@media (max-width:935px) {
    
}

@media (max-width: 600px) {
  .nav-menu .opcoes{
    display: none;
  }
}