.nav-menu{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b7beda;
  position: relative;
  z-index: 500;
}

.nav-menu .opcoes{
  display: flex;
  list-style: none;
}

.nav-menu .opcoes li a{
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
}

.nav-menu .opcoes li a:first-of-type {
  margin-right: 30px;
}

@media (max-width: 600px) {
  .nav-menu .opcoes{
    display: none;
  }
  .nav-menu .opcoes li a{
    font-size: 0.8rem;
  }
}