.newsletter{
    background-color: hsl(228, 28%, 43%);
    padding: 2rem;
    margin-top: 20px;
    font-weight: 200;
}
.newsletter .email{
    color: black;
    margin-top: 10px;
    
}

.newsletter .email input{
    background: transparent;
    color: #E3E6F3;
    outline: none;
    width: 100%;
    line-height:30px;
    font-size:14px;
    border-radius: 0.4rem;
    padding-left: 0.5rem;
}

.newsletter .email input::placeholder {
    color: #E3E6F3;
}

.newsletter .email .btn-enviar{
    border-radius: 50%;
    padding: 0.5rem;
    color:  rgba(0, 0, 0, 0.55);
    font-weight: 700;
    background-color: transparent;
}

.newsletter .email path{
    fill: #b7beda;   
}

.newsletter .email svg{
    border-radius: 50%;
}

.email-box{
    display: flex;
    background: transparent;
    padding: 0.4rem;
    border-radius: 0.4rem;
    transition: 0.4s ease;
    justify-content: space-between;
    border: 1px solid #b7beda;
}
.email-input{
    color: #fff;
    outline: none;
    border: none;
    font-size:14px;
    transition: 0.7s ease;
    font-family:sans-serif;
}