.product-card{
    width: 200px;
    height: 100%;
    margin: 10px 0 10px 0px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    border: 1px solid #ded5d5;
}

.product-card .imagem img{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


.product-card .product-info{
    padding: 15px;
    color: black;
    display: flex;
    flex-direction: column;
}

.product-card .product-info .nome{
    font-size: 14px;
    font-weight: 500;
    color: #161616;
    margin: 10px 0 10px 0;
}
.product-card .product-info .preco{
    font-size: 14px;
    font-weight: 500;
    color: #161616;
}
.product-card .product-info svg{
    color: #ffcb0c;
    margin-right: 5px;
}
.product-card .stars{
    display: flex;
}

@media (max-width:996px) {
}

@media (max-width:935px) {
}


@media (max-width: 732px) {
}

@media (max-width: 442px) {
    .product-card{
        width: 95%;
        height: 100%;
    }
    .product-card .imagem img{
        width: 100%;
        height: 150px;
    }
    .product-card .product-info{
        padding: 10px;
    }
    
    .product-card .product-info .nome{
        font-size: 13px;
        font-weight: 500;
        margin: 10px 0 7px 0;
    }
    .product-card .product-info svg{
        width: 15px;
    }
}
